.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 44, 44);
    font-size: 50px;
    color: rgba(255, 255, 255, 0.904);
    font-weight: 5px;
    user-select: none;
}

.all-3-sections {
    margin-left: 100px;
    margin-right: 100px;
    min-width: 600px;
}

.header-section {
    background-color: rgb(14, 114, 109);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: x-larges;
    word-wrap: break-word;
}

h1, h2 {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-bar-section {
    background-color: white;
    color: rgb(110, 110, 110);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}
.menu-item {
    min-width: 40%;
    display: inline-block;
    transition: opacity 0.15s, background-color 0.35s;
    padding: 15px;
}

.menu-item:hover {
    background-color: rgb(15, 99, 102);
    color: aliceblue;
    cursor: pointer;
    opacity: 0.8;
}
.menu-item:active {
    opacity: 0.6;
}

.container{
    height: 400px;
    position: relative;
    margin-right: 0px;
}

.correct {
    font-size: 300%;
    z-index: 1;
    display: inline-block;
    position: absolute;   
    right: 30%;
}

.square-grid-section {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.square {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(13, 119, 84);
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin-top: 5px;
    transition: opacity 0.15s;
}

.square:hover {
    opacity: 0.9;
}
.square:active {
    opacity: 0.7;
}